.hero-image-slider {
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.hero-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
}


.hero-image-wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 1rem; 

    
        img {
            display: block;
            height: 13rem;
            width: 10rem;
            transition: transform 0.3s ease;
        }
    
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: opacity 0.3s ease;
            opacity: 1; 
        }
    
        &:hover {
            img {
                transform: scale(1.05); 
            }
            
            .overlay {
                opacity: 0; 
            }
        }
    }


    @media screen and (max-width: 769px) {
        
        .hero-image-wrapper:nth-child(n+7) {
        display: none; 
    }

    }

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .hero-image {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem; 
    }
    .hero-image-wrapper:nth-child(n+13) {
        display: none;
    }
    }



@media screen and (min-width: 1024px) {

    .hero-image {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1.5rem; 
    }
    .hero-image-wrapper:nth-child(n+25) {
        display: none;
    }
    .hero-image-wrapper img {
        height: 15.5rem; 
        width: 11rem;  
    }
    }


////----------------------- page title

.page-title,
.booking-button {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: white;
    text-align: center;
}

.page-title {
    font-size: 2.5rem; 
    margin-top: -3rem;
}

.booking-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: red;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darkred;
    }
}


.schedule-box{
    position: absolute;
    padding: 1rem;
    top: 74.5%; 
    left: 8rem; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: white;
    background-color:rgba(33, 33, 33, 0.8);
    font-size: 0.75rem;

    @media screen and (min-width: 769px) {
        font-size: 1rem;
        left: 10rem; 

    }


}


////---------about us 

.about-us-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;

    img{
        border-radius: 1rem;
    }

    @media screen and (min-width: 769px){
        flex-wrap: nowrap;
    }
}

.about-us-wrapper{
    margin-right: 2rem;
}