.back-button{
        position: relative;
        margin: 1rem auto;
        width: 200px;
        z-index: 2; 
        color: white;
        text-align: center;


        display: inline-block;
        padding: 1rem 2rem;
        background-color: #8b0000;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 1rem;
        transition: background-color 0.3s ease;
    
        &:hover {
            background-color: white;
        }

}

//// gallery image 

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    flex-basis: 33.333%; /* هر عکس به صورت پیش‌فرض ۳۳.۳۳% از عرض گالری */
    height: 300px;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover; 
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.gallery-item:active img,
.gallery-item:hover img {
    transform: scale(1.05); 
}

/* Mobile view (Small screens) */
@media screen and (max-width: 768px) {
    .gallery-item {
        flex-basis: 50%; /* در موبایل ۲ ستون */
        height: 250px; /* می‌توانید ارتفاع را کاهش دهید */
    }
}

/* Tablet view */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .gallery-item {
        flex-basis: 33.333%; /* در تبلت ۳ ستون */
        height: 300px; 
    }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
    .gallery-item {
        flex-basis: 33.333%; /* در دسکتاپ ۳ ستون */
        height: 350px;
    }
}
